html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root,
.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid #f2f2f2;
  position: relative;
  overflow: hidden;
}

.conf {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.node {
  background: white;
  position: absolute;
  border: 1px solid rgb(26, 25, 43);
  border-radius: 4px;
  box-shadow: rgb(26 25 43) 0px 0px 0px 0.25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  user-select: none;
  
}

.node::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ecbdbd;
  left: 50%;
  transform: translateX(-50%);
}

.node::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ecbdbd;
  top: 50%;
  transform: translateY(-50%);
}


.line {
  position: absolute;
}
